html{
    height: 100%;
}
body{
            background-color: white;
            font-family: sans-serif;
            margin: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
         }
        nav{
            background-color: #349beb;
            display: flex;
            height: 60px;
            vertical-align: center;
            text-wrap: nowrap;
        }

        #logo{
            width: 30px;
            height: auto;
            padding-right: 20px;
            padding-left: 20px;
            vertical-align: center;
        }

        #wsName{
            padding-right: 30px;
        }

        #navbar{
            padding: 20px;
            text-align: center;
            vertical-align: center;
           
        }
        .navLink {
            font-size: 20px;
            font-style: bold;
            color: white;
            font-family: arial;
           text-decoration: none;
           margin-top: 10px;
           padding-right: 20px;
        }

        #search {
            background-color: #349beb;
            color: blue;
            text-align: left;
            vertical-align: center;
            max-width: 500px;
            margin-top: 20px;
            padding-left: 30px;
        }

        #searchInput{
            font-size: 14px;
            width: 200px;
        }
        
        button {
            background-color: #c634eb;
            color: white;
        }

        #website {
            background-image: url("/travel_recommendation/images/nyc_background.jpg");
            background-origin: border-box;
            background-repeat: no-repeat;
            background-size: cover;
            flex-grow: 1;
            display: flex;
            
        }

        #socialIcons{
            
            display: flex;
            flex-direction: column;
            padding-top: 250px;
            padding-left: 20px;
           
        }

        .socialMedia{
        
            width: 25px;
            height: auto;
            padding-bottom: 20px;
            padding-right: 20px;
        }

        #text{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            /* padding-left: 200px;*/
            padding-top: 100px;
            padding-right: 20px;
            padding-left: 40px;
        }

        #textContact {
            display: flex;
            flex-direction: row;
         /*   padding-left: 200px; */
         padding-right: 50px;

        }


        #bookBtn{
            width: 100px;
            margin-top: 20px;
        }

        #bigHeading{
            font-size: 35px;
            color:  #349beb;
            
            width: 250px;
        }

        #wsDescription{
            font-size: 13px;
            color: #349beb;
            width: 200px;
         
        }

        #searchResults{
             display: flex;
             flex-direction: column;
             flex-grow: 4;
             padding-top: 20px;
             padding-right: 20px;
        }
        
        .recommendation{
            background-color: white;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            max-width: 400px;
            margin-bottom: 10px;
        }

        .destinationImage{
            width: 100%;
            height: auto;
        }

        #aboutArea{
            /* display: flex;
            flex-direction: column; */
        }

        #aboutText {
            max-width: 700px;
        }
        #teamH2{
            /* padding-left: 150px; */
        
        }
        #team {
            display: flex;
            flex-direction: row;
           /*  padding-left: 100px;  */
            gap: 50px;
        }

        .teamMember {
            display: flex;
            flex-direction: column;
            /* padding-right: 50px; */
            /* padding-left: 50px; */
            color: white;
        }
        h3{
            color: black;
        }
        .person {
            width: auto;
            height: 50px;
        }

        .teamMemberName {
            text-align: center;
        }

        .teamBtn{
            /* width: 100px; */
            text-wrap: nowrap;
        }

        #contactArea{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
           
        }

        #form{
            display: flex;
            flex-direction: row;
            /* padding-left: 100px; */
            padding-top: 50px;
            padding-left: 20px;
        }
        
        #contactForm{
            display: flex;
            flex-direction: column;
            /* margin-top: -100px; */
        }

        #contactHeader {
            padding-top: 50px;
        }

        #messageSentInfo {
            padding-left: 40px;
            color: #c634eb;
        }

        input{
            margin-bottom: 20px;
            width: 300px;
        }

        #message{
            height: 100px;
            margin-bottom: 20px;
        }

        #messageBtn{
            margin-top: 30px;
        }
